body {
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#121212;
  font-family:Arial;
}

.calculator {
  background:#1e1e1e;
  padding:25px;   /* 20 se 25 karo */
  border-radius:20px;
  width:320px;
  margin:auto;
}



#display {
  width:100%;
  height:70px;
  font-size:28px;
  text-align:right;
  padding:0 12px;     /* upar niche padding hata di */
  border:none;
  border-radius:12px;
  background:#000;
  color:#fff;
  margin-bottom:15px;
  box-sizing:border-box;
  line-height:70px;   /* ye text ko bilkul center karega */
}



.buttons {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:12px;
}

button {
  height:65px;
  border:none;
  border-radius:50%;
  font-size:20px;
  cursor:pointer;
  background:#333;
  color:white;
  transition:0.2s;
}

button:hover {
  background:#555;
}

.operator {
  color:#4da3ff;
}

.equal {
  background:#4da3ff;
  color:white;
} 

.ac {
  background:#ff5100;
  color:white;
}
.⌫ {
  background:#ff8411;
  color:rgb(248, 246, 245);
}
.zero {
  grid-column:span 2;
  border-radius:30px;
}

@media(max-width:500px){
  .calculator{
    width:90%;
  }
}
